page-wallet-intro {

  ion-content {
    margin-top: 2rem !important;
  }

  .main-title {
    font-size: 20px;
    font-weight: bold;
    color: #ddd;
  }

  .main-sub {
    font-size: 14px;
    font-weight: bold;
    color: #999;
  }

  article{
    margin-top: 5rem;
  }

  article h2 {
    color: #ddd;
    font-size: 18px;
  }

  article p {
    color: #999;
  }
}
